
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background: rgb(221, 191, 58); */
    background-color: #2073d1;
}

/* main container */

.container{
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:rgb(255, 255, 255);
    width:700px;
    padding-top:45px;
    padding-bottom: 20px;
    position:absolute;
    text-align:center;
    border-radius:15px;
    box-shadow: -4px 2px 33px -6px rgba(0,0,0,0.75);
    margin-top: 50px;
    transition: 0.5s;

}

.container:hover{
  transform: scale(1.008);
}

/* heading */

.container h3{
    font-size: 45px;
    margin-bottom: 10px;
}

/* Input area */
.box-1 input[type="text"]{
  background:none;
  display:block;
  margin-bottom: 10px;
  text-align:center;
  
  padding:10px;
  
  width:200px;
  outline:none;
  color:black;
  font-size: 20px;
  transition: 0.25s;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.box-1 input:focus{
    outline: none;
}

.box-1 input[type="text"]:hover{
    width:300px;
    border-bottom: 2px solid grey;
}

.box-1 input[type="text"]:focus{
  width:300px;
  border-color:grey;  
}

/* Submit button */
.box-1 input[type="submit"]{
  border:0;
  font-size: 22px;
  font-weight: 600;
  height: 50px;
  width:200px;

  background:none;
  display:block;
  
  margin: 5px auto;
  text-align:center;
  
  outline:none;
  color:rgb(255, 251, 251);
  border-radius: 35px;
  transition: 0.35s ;
  background:#0fc518;
  transform: scale(1.05);
  box-shadow: 5px 5px 27px -7px rgba(0,0,0,0.75);
  cursor:pointer;
}

.box-1 input[type="submit"]:hover{
  background:#06f612;
  transform: scale(1);
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);

}

.todo-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

.inner-list .update-btn{
  border:0;
  font-size: 18px;
  font-weight: 600;
  height: 46px;
  width:110px;

  margin: 5px;
  padding-top: 10px;

  background:none;
  text-decoration: none;
  
  text-align:center;
  outline:none;
  color:rgb(255, 251, 251);
  border-radius: 35px;
  transition: 0.25s;
  background:#0877d1;
  box-shadow: 5px 5px 27px -7px rgba(0,0,0,0.75); 
}

.inner-list .update-btn:hover{
  background-color: #48a2eb;
  transform:  scale(1.03); 
}

.inner-list .delete-btn{
  border:0;
  font-size: 18px;
  font-weight: 600;
  height: 45px;
  width:110px;

  margin: 5px;
  padding-top: 10px;

  background:none;
  text-decoration: none;
  text-align:center;
  
  outline:none;
  color:rgb(255, 251, 251);
  border-radius: 35px;
  transition: 0.25s;
  background:#ff0000 ;
  cursor:pointer;
  box-shadow: 5px 5px 27px -7px rgba(0,0,0,0.75);

}

.inner-list .delete-btn:hover{
  background-color: #c54047;
  transform:  scale(1.03); 
}

.todo-list .inner-list{
   text-align: justify;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
 
}

.todo-list .inner-list .content{
    font-size: 18px;
    margin: 15px 10px;  
    font-weight: 500;


}
</style>
<body>
    <div class="container">
        <div class="box-1">
            <h3>To-do List</h3>
            <form method="POST" action="/">
                {% csrf_token %}
                {{form.title}}
                <input type="submit" placeholder="Create new task" class="button-1" >
            </form>
        </div>
        
        <div class="todo-list">
            {% for task in tasks %}
            <div class="inner-list">
                <a class="update-btn" href="{% url 'update_task' task.id %}" >Update </a>
                <a  class="delete-btn" href="{% url 'delete' task.id %}" >Delete </a>
                {% if task.complete == True %}
                <strike class="content">{{task}}</strike>
                <br>
                {% else %}
                <span class="content">{{task}}</span>
                {% endif %}
                <br>
        {% endfor %}
        </div>
    </div>
    
    
</body>


